.container{
    background-color: rgb(168, 165, 158);
    width: 600px;
    border: 2px solid rgb(188, 11, 11);
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
    position: relative;
    top:250px;
    left:400px;
}
img{
    width:29%;
    float:left; 
    
}
h1{
    text-align: center;
    color:rgb(10, 52, 221); 
}
p{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

